.container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    min-height: 100vh;
    text-align: center;  
}

.ticket {
    text-align: center;
    border: 1px solid white;
    border-radius: 14px;
    width: 200px;
}
